_go_.6
_obj
6.out
tools/*/_obj
tools/*/_go_.6
tools/consumer/consumer
tools/publisher/publisher
tools/consumer/test.txt
tools/offsets/offsets
bin
pkg
*.gz
*.test
src/consumer/_go_.6
src/consumer/consumer
src/publisher/_go_.6
src/publisher/publisher
src/offsets/_go_.6
src/offsets/offsets

testing.jjd
write_it.rb
temp.txt
testing.txt.gz.bytes
output2.gz.out
